#korpa {
    width: 400px;
}

#knjige {
    justify-content: space-around;
}

.image-holder {
    width: 100%;
    display: flex;
    justify-content: center;
}

.image-holder img {
    height: 310px;
    width: 210px;
}

.book-listing {
    margin-top: 5px;
    margin-bottom: 5px;
}

.no-scroll {
    overflow: hidden;
}

.book-modal {
    position: fixed; 
    overflow-y: scroll;
    top: 0; right: 0; bottom: 0; left: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba( 0, 0, 0, 0.5);
    z-index: 9999;
}