#korpa {
    width: 400px;
}

.cart-count {
    padding: 5px;
    background-color: rgb(233, 236, 239);
    border: 1px solid rgb(206, 212, 218);
}

#knjige {
    justify-content: space-around;
}

.image-holder {
    width: 100%;
    display: flex;
    justify-content: center;
}

.image-holder img {
    height: 320px;
    width: 210px;
}

.card-body h5 {
    height: 50px;
}

.card-body .author {
    height: 50px;
}

.book-listing {
    margin: 5px;
    width: 210px;
}

.no-scroll {
    overflow: hidden;
}

.book-modal {
    position: fixed; 
    top: 0; right: 0; bottom: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba( 0, 0, 0, 0.5);
    z-index: 9999;
    overflow-y: scroll;
}

.book-modal .book-modal-content {
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 10px;
    padding: 10px;
}

.book-modal-image-holder img{
    border-radius: 10px;
}

.book-modal-image-holder,.book-modal-text-holder {
    margin-left: 15px;
    margin-right: 15px;
}

.cart-image {
    height: 100px;
}

#cart-content td {
    vertical-align: middle;
}

html, body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#footer {
    padding-top: 50px;
    padding-bottom: 50px;
}